.calc {
  padding-bottom: 593px;

  @media (max-width: 1200px) {
    padding-bottom: 192px;
  }

  @media (max-width: 575px) {
    padding-bottom: 90px;
  }
}

.calc__title {
  @include title;
  margin-bottom: 93px;
  @include max-width(945px);
  margin-left: auto;
  margin-right: auto;
}

.calc__content {
  display: flex;
  justify-content: center;
  gap: 140px;

  @media (max-width: 1300px) {
    gap: 30px;
  }

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }
}

.calc__calc-box {
  @include max-width(856px);
}

.calc__tab-box {
  display: flex;
  gap: 30px;

  @media (max-width: 575px) {
    gap: 15px;
  }
}

.calc__tab {
  font-size: 35px;
  font-family: 'ProximaSoft';
  font-weight: bold;
  margin-bottom: 80px;
  padding-bottom: 18px;
  border-bottom: 10px solid #6fbe39;
  opacity: 0.5;
  position: relative;
  @include max-width(413px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 991px) {
    margin-bottom: 50px;
  }

  @media (max-width: 575px) {
    font-size: 24px;
  }

  &_active {
    opacity: 1;

    &::before {
      position: absolute;
      content: url('/src/img/icons/triangle.png');
      left: 50%;
      transform: translateX(-50%);
      bottom: -30px;
    }
  }
}

.calc__input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 65px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 870px) {
    flex-wrap: wrap;
  }

  @media (max-width: 575px) {
    margin-bottom: 40px;
  }
}

.calc__input-label {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0;
  width: 163px;
  position: relative;
  top: -2px;
}

.calc__input-value {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
  text-align: right;
  width: 95px;
}

.calc__input {
  @include max-width(550px);
  height: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(
    to right,
    #01b1fd 0%,
    #01b1fd 50%,
    #d5efff 50%,
    #d5efff 100%
  );
  background-color: #d5efff;

  @media (max-width: 870px) {
    max-width: 100%;
    order: 3;
    margin-top: 30px;
  }

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    width: 50px;
    height: 44px;
    position: relative;
    top: -7px;
    left: -1px;
    -webkit-appearance: none;
    appearance: none;
    @include bg;
    background-image: url('/src/img/icons/thumb.png');
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: none;

    &:hover,
    &:focus {
      transform: scale(1.1);
      outline: none;
      border: none;
      box-shadow: none;
    }
  }

  &::-moz-range-thumb {
    width: 50px;
    height: 44px;
    position: relative;
    top: -7px;
    left: -1px;
    -moz-appearance: none;
    appearance: none;
    @include bg;
    background-image: url('/src/img/icons/thumb.png');
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: none;

    &:hover,
    &:focus {
      transform: scale(1.1);
      outline: none;
      border: none;
      box-shadow: none;
    }
  }

  &::-ms-thumb {
    width: 50px;
    height: 44px;

    position: relative;
    top: -7px;
    left: -1px;
    appearance: none;
    @include bg;
    background-image: url('/src/img/icons/thumb.png');
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: none;

    &:hover,
    &:focus {
      transform: scale(1.1);
      outline: none;
      border: none;
      box-shadow: none;
    }
  }
}

.calc__result-label {
  color: white;
  font-family: 'ProximaSoft';
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 58px;
  text-align: center;

  @media (max-width: 1200px) {
    margin-bottom: 20px;
    color: black;
  }

  @media (max-width: 575px) {
    font-size: 27px;
  }
}

.calc__result {
  font-family: 'ProximaSoft';
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 0;
  color: #ffde00;
  position: relative;
  text-align: center;
  margin-bottom: 20px;

  @media (max-width: 1450px) {
    font-size: 54px;
  }

  @media (max-width: 1200px) {
    color: #ceb302;
  }

  @media (max-width: 575px) {
    font-size: 35px;
  }

  &::before {
    position: absolute;
    content: url('/src/img/bgs/calc-bg.png');
    top: -239px;
    left: -90px;
    z-index: -1;

    @media (max-width: 1200px) {
      content: none;
    }
  }
}
