.footer {
  min-height: 222px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f2f2f2;

  @media (max-width: 991px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 991px) {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }
}

.footer__logo {
  width: 156px;
}

.footer__info {
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 300;

  @media (max-width: 991px) {
    text-align: center;
  }
}

.footer__policy {
  @include reset-btn;
  font-size: 18px;
  font-weight: 300;
  color: #1c64c5;
}

.footer__social {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: flex-start;
}

.footer__social-text {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0;
}

.footer__social-img {
  width: 41px;
  height: 41px;
  @include bg;
  background-image: url('/src/img/icons/insta.png');
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__phone-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 21px;
}

.footer__phone {
  font-family: 'ProximaSoft';
  font-size: 30px;
  text-align: center;
  color: black;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
    color: black;
  }
}

.footer__callback {
  @include reset-btn;
  text-align: center;
  color: #1c64c5;
  font-family: 'ProximaSoft';
  font-size: 18px;
}

.footer__franch {
  text-align: right;
  font-size: 18px;
  font-weight: 300;
  color: black;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
    color: black;
  }
}
